.Category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin : 10px;
    text-align: center;
    width : 21%;
    text-decoration: none;
    color: black;

}
img {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-bottom : 10px;
}
p {
    font-size: 22px;
}

@media only screen and (max-width: 768px) {
    .Category {
        width : 30%;
        
    }
    img {
        width: 180px;
        height: 180px;
        
    }
    
}

@media only screen and (max-width: 768px) {
    .Category {
        width : 40%;
        margin: 9px;
    }
    img {
        width: 150px;
        height: 150px;
        
    }
}