.select-box--arrow{
width:30px;
height: 30px;
margin-left: 1300px;
padding: 0;
display: inline-block;
background-color:#A01862;

}

.select-box--arrow-up{
    display: flex;
    align-content: center;
    margin-top: 10px;
    top:10px;
    left:10px;
    width:0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom:10px solid black;
}
.select-box--arrow-down{
    display: flex;
    align-content: center;
    margin-top: 10px;
    top:12px;
    left:10px;
    width:0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top:10px solid black;
}